<%- include('./partials/header.ejs') %>
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://www.feistees.com/images/uploads/2018/04/20/friends-group-t-shirt.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
    ">
   
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center py-5">
        <div class="text-white">
          <h1 class="mb-3">WELCOME TO MY</h1>
          <h4 class="mb-3">FRIENDS BOOK</h4>
          <a class="btn btn-outline-light btn-lg" href="https://github.com/MahvinFalak/assignment3.git" role="button">Git link</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
